@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Danh mục loại hàng</h1>
    <p><a asp-controller="DanhMucLoaiHang" asp-action="GetAllDanhMucLoaiHang">Danh mục</a>.</p>
</div>
